<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h1> Demo page</h1>
            </div>
            
                <ul class="list-group">
                      <li class="list-group-item" ng-repeat="elem in address | orderBy: 'year'" >
                          Junho Oh. {{ elem.title }} Demo App {{ elem.year }} [Internet]. Available from: 
                          <a ng-href="{{'#/' + elem.id}}" target='_blank' >{{ here + '#/' + elem.id }}</a>
                      </li>

                </ul>
        </div>
    </div>
</div>
